<p {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
{% schema %}
  {
    "name": "text",
    "settings": [
      {
        "type": "text",
        "label": "text",
        "id": "text"

      }
    ],
    "presets": [
      {
        "name": "text"
      }
    ]
  }
{% endschema %}