{{ 'footer-custom.css' | asset_url | stylesheet_tag }}

<h2>hello</h2>

{% schema %}
  {
    "name": "Footer Custom",
    "presets": [
      {
        "name": "Footer Custom"
      }
    ]
  }
{% endschema %}