{{ 'footer-custom.css' | asset_url | stylesheet_tag }}

<footer class="footer-cust">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <figure>
          <img
            src="{{ section.settings.image}}"
            width="220"
            height="220"
            alt="Footer Image"
            class="footer-cust__logo">
        </figure>
        <div>
          {{ section.settings.Address }}
        </div>
      </div>
      <div class="col-lg-8">asma</div>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer Custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "richtext",
        "id": "Address",
        "label": "Address"
      }
    ],
    "presets": [
      {
        "name": "Footer Custom"
      }
    ]
  }
{% endschema %}